<ion-header>
    <ion-toolbar color="dark">
        <ion-title *ngIf="creation">
            Add a new Attribute
        </ion-title>
        <ion-title *ngIf="!creation">
            Attribute Detail
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="headline ion-text-center">
        <ion-text>
            <h5 style="font-weight: bold">Attribute</h5>
        </ion-text>
        <div class="attribute-title">
            <ion-text color="primary">
                <h3 class="ion-no-margin">{{name}}</h3>
            </ion-text>
        </div>
    </div>

    <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="last-input-field">
        <ion-label position="stacked">Value</ion-label>
        <ion-input [(ngModel)]="value"></ion-input>
    </ion-item>

    <ion-button color="primary" fill="outline" expand="block" class="ion-margin-vertical" (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
    </ion-button>

    <ion-button *ngIf="!creation" color="danger" fill="outline" expand="block" (click)="presentDeleteCollectionAlert()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Delete Attribute
    </ion-button>

    <ion-button *ngIf="creation" color="dark" fill="outline" expand="block" (click)="dismiss()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
    </ion-button>
</ion-content>