:root {
    --ion-text-color: white;
    --ion-color-primary: white;
    --ion-color-primary-rgb: white;
}

ion-content {
    --background: var(--ion-color-primary-tint);
    --color: white
}

ion-item {
    --background: var(--ion-color-primary-tint);
    --color: white;
    --border-color: white;
    --highlight-color-focused: white;
}

ion-label {
    --color: white;
    --highlight-color-focused: white;
}

ion-grid {
    margin-top: 120px
}

.password-input {
    margin-top: 20px
}