ion-toolbar {
    --background: var(--ion-color-primary-shade);
    --color: white
}

.headline {
    margin-bottom: 10px;
}

.error-space {
    height: 50px;
}

.last-input-field {
    margin-bottom: 50px;
}