<ion-header>
    <ion-toolbar color="dark">
        <ion-title *ngIf="initial">
            Set a Password!
        </ion-title>
        <ion-title *ngIf="!initial">
            Change Password
        </ion-title>
        <ion-buttons slot="secondary" *ngIf="!initial">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row *ngIf="initial" class="headline">
        <ion-col>
            <div class="ion-text-center">
            <h4>Choose a Password for this App</h4>
            <ion-text color="medium">
                <p>This will set the master Password used for encrypting your secrets. You can change it later, but you should remember it well or you will lose access to this app.</p>
            </ion-text>
            </div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="!initial" class="headline">
        <ion-col>
            <div class="ion-text-center">
            <h4>Enter a new Password</h4>
            <ion-text color="medium">
                <p>This will set the master Password. Remember it well or you will lose access to this app</p>
            </ion-text>
            </div>
        </ion-col>
    </ion-row>

    <ion-row class="error-space">
        <ion-col class="ion-text-center">
            <ion-chip color="danger" *ngIf="errorMessage != null">
                <ion-icon name="alert"></ion-icon>
                <ion-label>{{errorMessage}}</ion-label>
            </ion-chip>

            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
        </ion-col>
    </ion-row>
    <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="last-input-field">
        <ion-label position="stacked">Repeat Password</ion-label>
        <ion-input [(ngModel)]="repetition" type="password"></ion-input>
    </ion-item>

    <ion-row *ngIf="initial">
        <ion-col>
            <ion-button color="primary" fill="outline" expand="block" (click)="save()">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Confirm
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!initial">
        <ion-col>
            <ion-button color="primary" fill="outline" expand="block" (click)="save()">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Confirm
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" fill="outline" expand="block" (click)="dismiss()">
                <ion-icon slot="start" name="close"></ion-icon>
                Cancel
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>