<ion-header>
    <ion-toolbar>
        <ion-title>
            Change Password
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <ion-row class="headline">
            <ion-col>
                <div class="ion-text-center">
                <h4>Enter a new Password</h4>
                <ion-text color="medium">
                    <p>This will set the master Password. Remember it well or you will lose access to this app</p>
                </ion-text>
                </div>
            </ion-col>
        </ion-row>

    <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="name" type="password"></ion-input>
    </ion-item>
    <ion-item class="last-input-field">
        <ion-label position="stacked">Repeat Password</ion-label>
        <ion-input [(ngModel)]="value" type="password"></ion-input>
    </ion-item>

    <ion-row>
        <ion-col>
            <ion-button color="success" expand="block">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Confirm
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" expand="block">
                <ion-icon slot="start" name="close"></ion-icon>
                Cancel
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>