
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Encryptor
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentSettingsActionSheet()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h5 style="font-weight: bold">Your Collections</h5>
  </ion-text>
  
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let coll of getCollections()" routerDirection="forward" [routerLink]="'details/' + coll.id" linesq="full">
      <ion-icon class="padd" slot="start" name="md-key" color="primary"></ion-icon>
      <ion-label><h2 style="font-weight: bold">{{coll.name}}</h2></ion-label>
      <ion-icon slot="end" name="lock" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab">
  <ion-fab-button color="primary" (click)="presentAddItemAlert()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>