<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Collection {{collection.name}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row *ngIf="loading">
    <ion-col>
      <div class="ion-text-center">
        <ion-spinner></ion-spinner>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="noAttributes()">
    <ion-col>
      <div class="ion-text-center">
        <h4>Nothing here yet!</h4>
        <ion-text color="medium">
          <p>Click on the button at the bottom-right to add an Attribute</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row *ngFor="let attribute of attributes">
      <ion-col class="ion-text-center">
        <ion-item class="ion-no-padding" button="true" (click)="presentModal(attribute, false)">
            
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-start attribute-section">
                  <ion-text color="primary" style="font-weight: bold">
                    {{attribute.name}}
                  </ion-text>
                </ion-col>
                <ion-col class="ion-text-start attribute-section">
                  <ion-text>
                    {{renderPassword(attribute.value)}}
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>

        </ion-item>
      </ion-col>
      <ion-col size="2">
          <ion-button fill="clear" color="medium" class="ion-float-right" (click)="copyAttribute(attribute)">
            <ion-icon slot="icon-only" name="md-albums"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="ion-margin-vertical" color="primary" fill="outline" expand="block" (click)="toggleVisibility()">
    <div *ngIf="showValues">
      <ion-icon slot="start" name="eye-off"></ion-icon>
      hide values
    </div>
    <div *ngIf="!showValues">
      <ion-icon slot="start" name="eye"></ion-icon>
      show values
    </div>
  </ion-button>
  <ion-button color="danger" fill="outline" expand="block" (click)="presentDeleteCollectionAlert()">
    <ion-icon slot="start" name="trash"></ion-icon>
    Delete Collection
  </ion-button>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab">
  <ion-fab-button color="primary" (click)="addNewAttribute()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>